# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.gitattributes
/deps

# Files from Forge MDK
forge*changelog.txt
.factorypath

# songs
beehive_sounds_compressed.ogg
flight_of_the_bumblebee_rimsky_korsakov.ogg
honey_bee_rat_faced_boy.ogg