# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/runs
.gitattributes
/deps
/common/src/main/generated/
/flatdir

# songs
/common/src/main/resources/assets/the_bumblezone/sounds/ambience
/common/src/main/resources/assets/the_bumblezone/sounds/music

# Misc
CHANGELOG_OLD.md
oxipng.exe
