# gradle

.gradle/
build/
out/
classes/
gradle/wrapper

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
backup/
/deps/
/flatdir

# songs
*.ogg
*.launch

# Misc
CHANGELOG_OLD.md
CHANGELOG_OLD.md
