#For spawning slime
public net.minecraft.entity.EntityType func_200712_a(Ljava/lang/String;Lnet/minecraft/entity/EntityType$Builder;)Lnet/minecraft/entity/EntityType; #register

#Make bees be pollenated
public net.minecraft.entity.passive.BeeEntity func_226404_d_(IZ)V # func_226404_d_